@model System.Collections.Generic.List<CheeseMvc.Models.Cheese>

@{

    Layout = "_Layout";
}

<h2>@ViewBag.Title</h2>
<form method="post">
    @foreach (var cheese in Model)
    {
        <input type="checkbox" name="cheeseIds" id="@cheese.ID" value="@cheese.ID" />
        <label for="@cheese.ID">@cheese.Name</label>
        <br />

    }

    <input type="submit" value="Remove selected cheese" />
</form>